body{
    margin: 0px;
    background-color: #514E4D;
    color: #641E16;
    font-family: 'Caveat', cursive;
    font-size: x-large;
    background-image: url('assets/img/fondo.png');
    background-size: cover;
}

h1{
padding-top: 15rem;
margin-top: 0px;
}

section{
    max-width: 1500px;
    margin: auto;
}

p{
    margin: 2rem;
}

h2,h1,h3{
    text-align: center;
    display: block;
    width: 100%;
    font-family: 'Lemonada', cursive;
    background: linear-gradient(rgb(238, 131, 8),red);
    -webkit-background-clip: text;
    color: transparent;
}

h3{
    background: linear-gradient(red,rgb(0, 0, 0));
    -webkit-background-clip: text;
    color: transparent;
}

#father{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.personaje{
    font-weight: bold;
    width: 46%;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url('assets/img/paper.png');
    background-size: cover;
}

.grupersonaje{
    display: flex;
    justify-content: center;
}

.infopersonaje img{
    width: 20%;
    float: right;
}

button{
    font-size: larger;
    font-style: italic;
    font-weight: bolder;
    border-radius: 1rem;
    color: darkred;
    text-shadow: 10px 7px #CACACA;
    width: 100%;
    border: 0px;
    margin-bottom: 0px;
    -webkit-box-shadow: #FFF 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, red 0 -18px 40px, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: #FFF 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, red 0 -18px 40px, 5px 5px 15px 5px rgba(0,0,0,0);
}

#pc{
    display: table;
    margin: auto;
}

.movil{
    display: none;
}

table{
    border-collapse: collapse;
    background-color: #63636357;
    font-weight: bolder;
}

th{
    background-color: #00000057;
    font-size: xx-large;
    color: #FF6262;
}

td{
    color: #FF9262 ;
}

#pc td:last-child{
    padding: 0px;
}

#pc td,th{
    width: 16%;
}

td,th{
    border: 1px solid white;
    text-align: center;
}

#pc img{
    width: 100%;
    display: block;
}

#contactopadre{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 1500px;
}

#ubicacion{
    width: 45%;
}

#formularioabajo{
    width: 45%;
}

#nombreycorreo{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

#correoformulario{
    width: 50%;
}

#nombreformulario{
    width: 50%;
}

#textareaabajo p{
    margin-left: 0px;
    margin-bottom: 0px;
}

#textareaabajo textarea{
    width: 100%;
    box-sizing: border-box;
}

#aceptar{
    margin-bottom: 3rem;
    margin-top: 2rem;
}

#bosses{
    margin: 0px;
    max-width: 100%;
}

#padre{
    display: grid;
    height: 100vh;
    grid-template-rows: repeat(12,7.5vh);
    grid-template-columns:  repeat(12,1fr);
}

#padre img{
    width: 100%;
    object-fit: cover;
}

#padre div{
    display: flex;
}

#bestia{
    grid-row: 1/10;
    grid-column: 1/6;
}

#mascara{
    grid-row: 1/5;
    grid-column: 6/13;
}

#satan{
    grid-row: 10/13;
    grid-column: 1/6;
}

#greed{
    grid-row: 5/11;
    grid-column: 6/13;
}

#momia{
    grid-row: 11/13;
    grid-column: 6/10;
}

#pin{
    grid-row: 11/13;
    grid-column: 10/13;
}

#tablero{
    width: 512px;
    margin: auto;
    display: grid;
    grid-template-rows: repeat(8,64px);
    grid-template-columns: repeat(8,64px);
    background-image: url('assets/piezas/tablero.png');
    background-size: 100%;
    background-repeat: no-repeat;
}

#nada{
    grid-row: 3/7;
    grid-column: 1/-1;
}

#tablero img{
    width: 90%;
}

#tablero div{
    display: flex;
    justify-content: center;
    align-items: center;
}

nav{
    background-color: #000000F0;
    display: flex;
    position: fixed;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    z-index: 1;
}


#listaenlaces{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

#primerhijolista{
    margin-left: 3rem;
}

#logo a{
    font-size: xx-large;
    font-weight: bolder;
    color: inherit;
    margin-right: 3rem;
    text-decoration: none;
}

#logo{
    width: 60%;
    display: flex;
    align-items: center;
}

iframe{
    width: 100%;
}

#logo img{
    width: 20%;
}

#redessociales{
    width: 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#redessociales a{
    font-size: larger;
    color: rgb(187, 14, 14);
}

#botonacceso{
    margin-top: 1rem;
    font-size: medium;
}

#acceso{
    display: flex;
    width: 15%;
    align-items: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.inputarriba{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.inputarriba input{
    width: 40%;
}

#acceso form{
    width: 100%;
}

@media(max-width: 1275px){
    nav{
        flex-direction: column;
        align-items: center;
    }

    #redessociales{
        width: 20%;
    }

    h1{
        padding-top: 25rem;
    }

    #acceso{
        width: 40%;
        margin-bottom: 2rem;
    }

    #logo{
        width: 100%;
        justify-content: center;
    }
}

@media(max-width: 910px){
    #logo{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    h1{
        padding-top: 30rem;
    }

    #logo img{
        width: 30%;
    }

    #redessociales{
        width: 40%;
    }

    #listaenlaces{
        width: 100%;
        margin: 2rem;
        justify-content: space-around;
    }

    #acceso{
        width: 70%;
    }

    #listaenlaces a{
        margin: 0px;
    }
}

@media(max-width: 765px){
    .fallo{
        width: 80%;
    }
}

@media (max-width: 576px) {
    .infopersonaje img{
        width: 50%;
    }

    #logo img{
        width: 30%;
    }

    h1{
        padding-top: 22rem;
    }

    #logo a{
        font-size: larger;
    }

    #listaenlaces{
        margin:1.5rem;
        align-items: center;
        flex-wrap: wrap;
    }

    #acceso{
        margin: 0px;
        margin-bottom: 1rem;
    }

    #nombreycorreo{
        flex-direction: column;
    }

    .fallo{
        width: 100%;
    }

    #contactopadre{
        flex-direction: column-reverse;
    }

    #nombreformulario{
        width: 100%;
    }

    #correoformulario{
        width: 100%;
    }

    #ubicacion{
        margin-top: 3rem;
        width: 100%;
    }
    
    #formularioabajo{
        width: 90%;
        margin: auto;
    }

    .separador {
        height: 1rem;
    }
    
    #pc{
        display: none;
    }

    .movil{
        display: table;
        width: 90%;
        margin: auto;
        margin-bottom: 1rem;
    }

    td,th{
        padding: 1rem;
    }

    .movil img{
        width: 80%;
    }

    .grupersonaje{
        flex-wrap: wrap;
    }

    .personaje{
        width: 90%;
    }

    #tablero{
        width: 360px;
        grid-template-rows: repeat(8,45px);
        grid-template-columns: repeat(8,45px);
    }
}