body{
    margin: 0px;
    background-color: #514E4D;
    color: #641E16;
    font-family: 'Caveat', cursive;
    font-size: x-large;
    box-sizing: border-box;
    background-image: url('assets/img/fondo.png');
    background-size: cover;
}

section{
    max-width: 1500px;
    margin: auto;
}

p{
    margin: 2rem;
}

h2,h1,h3{
    text-align: center;
    display: block;
    width: 100%;
    font-family: 'Lemonada', cursive;
    background: linear-gradient(black,red);
    -webkit-background-clip: text;
    color: transparent;
}

h3{
    background: linear-gradient(red,black);
    -webkit-background-clip: text;
    color: transparent;
}

#father{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.personaje{
    font-weight: bold;
    width: 46%;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url('assets/img/paper.png');
    background-size: cover;
}

.grupersonaje{
    display: flex;
    justify-content: center;
}

.infopersonaje img{
    width: 20%;
    float: right;
}

button{
    font-size: larger;
    font-style: italic;
    font-weight: bolder;
    border-radius: 1rem;
    color: darkred;
    text-shadow: 10px 7px #CACACA;
    width: 100%;
    border: 0px;
    margin-bottom: 0px;
    -webkit-box-shadow: #FFF 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, red 0 -18px 40px, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: #FFF 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, red 0 -18px 40px, 5px 5px 15px 5px rgba(0,0,0,0);
}

#pc{
    display: table;
    margin: auto;
}

.movil{
    display: none;
}

table{
    border-collapse: collapse;
    background-color: #63636357;
    font-weight: bolder;
}

th{
    background-color: #00000057;
    font-size: xx-large;
    color: #FF6262;
}

td{
    color: #FF9262 ;
}

#pc td:last-child{
    padding: 0px;
}

#pc td,th{
    width: 16%;
}

td,th{
    border: 1px solid white;
    text-align: center;
}

#pc img{
    width: 100%;
    display: block;
}

#contactos{
    display: flex;
    flex-wrap: nowrap;
    width: 80%;
    margin: auto;
    justify-content: space-around;
}

#contactos p{
    margin: 0px;
}

textarea{
    width: 100%;
}

form div{
    margin: 1rem;
    margin-bottom: 2rem;
}


form span{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

span input{
    width: 60%;
}

div{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
}

form div:nth-child(2){
    flex-direction: column;
    align-items: flex-start;
}

form div:nth-child(3){
    justify-content: flex-start;
}

iframe{
    width: 100%;
}

#contactos article{
    width: 46%;
    margin: 1rem;
}

@media (max-width: 576px) {
    .infopersonaje img{
        width: 50%;
    }

    #contactos{
        justify-content: center;
        flex-direction: column-reverse;
        margin: 0px;
        width: 100%;
    }

    #contactos article{
        width: 100%;
        margin: 0px;
    }

    #mapa{
        width: 100%;
    }

    .separador {
        height: 1rem;
    }
    
    #pc{
        display: none;
    }

    .movil{
        display: table;
        width: 90%;
        margin: auto;
        margin-bottom: 1rem;
    }

    td,th{
        padding: 1rem;
    }

    .movil img{
        width: 80%;
    }

    .grupersonaje{
        flex-wrap: wrap;
    }

    .personaje{
        width: 90%;
    }
}