body{
    margin: 0px;
    background-color: #514E4D;
    color: #641E16;
    font-family: 'Caveat', cursive;
    font-size: x-large;
    background-image: url('assets/img/fondo.png');
    background-size: cover;
}

section{
    max-width: 1500px;
    margin: auto;
}

p{
    margin: 2rem;
}

h2,h1,h3{
    text-align: center;
    display: block;
    width: 100%;
    font-family: 'Lemonada', cursive;
    background: linear-gradient(black,red);
    -webkit-background-clip: text;
    color: transparent;
}

h3{
    background: linear-gradient(red,black);
    -webkit-background-clip: text;
    color: transparent;
}

#father{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.personaje{
    font-weight: bold;
    width: 46%;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url('assets/img/pepe.png');
    background-size: cover;
}

.grupersonaje{
    display: flex;
    justify-content: center;
}

.infopersonaje img{
    width: 20%;
    float: right;
}

button{
    font-size: larger;
    font-style: italic;
    font-weight: bolder;
    border-radius: 1rem;
    color: darkred;
    text-shadow: 10px 7px #CACACA;
    width: 100%;
    border: 0px;
    margin-bottom: 0px;
    -webkit-box-shadow: #FFF 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, red 0 -18px 40px, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: #FFF 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, red 0 -18px 40px, 5px 5px 15px 5px rgba(0,0,0,0);
}

table{
    display: table;
    border-collapse: collapse;
    margin: auto;
    background-image: url('assets/img/pepe.png');
    background-size: cover;
    font-weight: bolder;
}

th{
    font-size: xx-large;
    color: #420F05;
}

td{
    color: #F54B27 ;
}

td,th{
    text-align: center;
    padding: 1rem;
}

@media (max-width: 576px) {
    .infopersonaje img{
        width: 50%;
    }
    .grupersonaje{
        flex-wrap: wrap;
    }
    .personaje{
        width: 90%;
    }
}