@font-face{
    font-family: "Fuente";
    src: url("Silkscreen-Regular.ttf");
}

body{
    font-family: Fuente;
    background-image: url('arcade.jpg');
    background-repeat: repeat;
    max-width: 1500px;
    margin: auto;
}

header > i, header > a{
    font-size: 4rem;
    color: rgb(173, 0, 173);
}

header{
    color: rgb(173, 0, 173);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8rem;
    background-color: rgba(0, 0, 0, 0.5);
    border-bottom: 3px solid white;
}

main{
    color: rgb(173, 0, 173);
    background-color: rgba(0, 0, 0, 0.5);
}

h1, h2, h3, h4{
    color: rgb(214, 0, 214);
    text-align: center;
}

h3{
    font-size: 4rem;
}

main > h2{
    margin-top: 0px;
    text-align: start;
    padding-top: 3rem;
    padding-bottom: 1.5rem;
}

main{
    border-top: 0px;
}

.contenedor{
    margin: auto;
    max-width: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid rgb(113, 0, 113);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1rem;
}

main i{
    font-size: 2rem;
}

.info{
    width: 95%;
    max-width: 600px;
    margin: auto;
}

iframe{
   width: 100%;
}

.info img{
    width: 100%;
}